.central_asia_tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 310px;

  .container {
    max-width: 1280px;
    margin: 0 auto;


    .asia_images {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .River {
        position: absolute;
        z-index: 10;
        top: 37%;
        left: 24%;
      }

      .Mountain {
        margin-left: 292px;
      }
    }
  }
}