.title_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  text-align: center;

  h2 {
    font-size: 36px;
    font-family: "Bebas Neue";
    font-weight: 400;
    margin: 0;
  }

  p {
    max-width: 93%;
    font-size: 18px;
    font-weight: 400;
  }
}