.tour_types {
  margin-top: 200px;
  .tour_types_grid {
    .tour_type {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin-top: 24px;
    }
  }
}